<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="chat-container">
                <div class="message-chat" id="message_chat">
                    <div class="message received bg-secondary-c">
                        <p>Hello, how can I help you?</p>
                    </div>
                </div>

                <div class="input">
                    <div class="d-flex" id="gpt_message">
                        <input class="form-control" type="text" name="gpt-chat" id="gpt_chat" placeholder="Type a message..." />
                        <button type="button" id="send" class="btn btn-primary">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>