{% extends "base.html" %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/search-custom.min.css' %}">
{% endblock %}

{% block HERO %}
      <div class="row py-5"></div>
{% endblock %}

{% block content %}
        <div class="container">
            <form class="" method="GET" action="{% url 'search' %}">
                <div class="form-group search-div">
                    <input type="search" value="{{query}}" class="form-control rounded-0" id="search" name="article" placeholder="Search for books, articles, manuals and authors in 84,921,855 files" required />
                    <input type="submit" class="btn btn-success-c rounded-0 rounded-end" value="Search">
                </div>
            </form>
        </div>
        <div class="container my-5 text-dark searchResult">
            {% if gscholar %}
            <div class="row">
                <span class="h6">{{gscholar.title}}</span>
                <ul>
                    <li class="text-content">Authors: {{gscholar.author}}</li>
                    <li class="text-content">Journal: {{gscholar.journal}}</li>
                    <li class="text-content">Volume: {{gscholar.volume}}</li>
                    <li class="text-content">No: {{gscholar.number}}</li>
                    <li class="text-content">Pages: {{gscholar.pages}}</li>
                    <li class="text-content">Year: {{gscholar.year}}</li>
                    <li class="text-content">Publisher: {{gscholar.publisher}}</li>
                </ul>
            </div>
            {% endif %}
            <div class="row justify-content-between">
                <div class="col-12 mx-auto">            
                    {% if querysets %}
                    <ul class="list-group result-ul">
                        {% for data in querysets %}
                        <li class="result-item my-4"><hr>
                            <div class="row card border-0 shadow-c">
                                <div class="card-header">
                                    <a href="{{data.get_absolute_url}}" class="nav-link"><h5 class="result-title">{{ data.title }} </h5></a>
                                    <p class="institution fw-bold"><iconify-icon icon="mingcute:location-2-line"></iconify-icon>{{ data.institution }}</p>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="table-responsive" style="padding: 0;">
                                            <table class="table table-striped table-hover mx-auto">
                                                <thead class="table-light">
                                                    <caption class="fw-bold institution d-none"><iconify-icon icon="tdesign:institution"></iconify-icon> {{data.institution}}</caption>
                                                    <tr>
                                                        <th class="col-8" scope="col-8"><iconify-icon icon="solar:user-bold-duotone"></iconify-icon> <small>Author</small> </th>
                                                        <th scope="col-4" class="col-3"><iconify-icon icon="clarity:number-list-line"></iconify-icon> <small>Series</small></th>
                                                        <th scope="col-4" class="col-3"><small>Publisher</small></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody class="table-group-divider">
                                                        <tr class="table-success" >
                                                            <td scope="row">{{ data.author }}</td>
                                                            <td>{{ data.series }}</td>
                                                            <td>{{ data.publisher }}</td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot></tfoot>
                                            </table>
                                        </div>                                            
                                    </div>
                                </div>
                                <div class="d-none d-md-block col-md-2">
                                    <div class="result-img-box">
                                        <img class="img-fluid" src=""/>
                                    </div>
                                    <!-- Add any additional content on the right side -->
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    {% endblock %}

{% block scripts %}{% endblock %}