{% extends "base.html" %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/search-custom.min.css' %}">
{% endblock %}

{% block HERO %}
    <div class="row py-5"></div>
{% endblock %}

{% block footer %}{% endblock %}

{% block content %}
        <div class="container">
            <form class="form" method="GET" action="{% url 'search' %}">
                <div class="form-group search-div">
                    <input type="search" value="{{title}}" class="form-control rounded-0" 
                        id="search" name="title" placeholder="Search for books, articles, manuals and authors in 84,921,855 files" required />
                    <input type="submit" class="btn btn-success-c rounded-0 rounded-end" value="Search">
                </div>
            </form>
        </div>

        <div class="container my-5 text-dark">
            <div class="row">
                {% if gscholar %}
                <div class="col col-md-3 d-none d-lg-block">
                    <span class="h6">{{gscholar.title}}</span>
                    <ul class="my-3">
                        <li class="text-content">Authors: {{gscholar.author}}</li>
                        <li class="text-content">Journal: {{gscholar.journal}}</li>
                        <li class="text-content">Volume: {{gscholar.volume}}</li>
                        <li class="text-content">No: {{gscholar.number}}</li>
                        <li class="text-content">Pages: {{gscholar.pages}}</li>
                        <li class="text-content">Year: {{gscholar.year}}</li>
                        <li class="text-content">Publisher: {{gscholar.publisher}}</li>
                    </ul>
                </div>
                {% endif %}
                <div class="col col-md-3 d-none d-lg-block">
                    <form class="form" method="GET" action="{% url 'search' %}">
                        <ul class="my-2">
                            <li class="text-content my-2">
                                Title: 
                                <input type="text" class="form-control" name="title" {% if title %}value={{title}} {% endif %}></input>
                            </li>
                            <li class="text-content">
                                Authors: 
                                <input type="text" class="form-control" name="author" {% if author %} value={{author}} {% endif %}></input>
                            </li>
                            <li class="text-content my-2">
                                institution: 
                                <input type="text" class="form-control" name="institution" {% if institution %}value={{institution}}{% endif %}></input>
                            </li>
                        </ul>
                        <input type="submit" class="btn btn-success-c" value="Search">
                    </form>
                </div>

                <div class="col-10 col-md-9 mx-auto">  
                    <h4 class="text-center"> 
                        <span class="text-content fw-bold">{{querysets.count}} Result Found</span>
                    </h4>          
                    {{params}}
                    {% if response %}
                    <ul class="list-group result-ul shadow p-2">
                        {% for data in response %}
                        <li class="result-item py-2">
                            <a href="{{data.get_absolute_url}}" class="nav-link">
                                <h5 class="result-title" style="font-size: 12px;">
                                    {{forloop.counter|safe}})
                                    {{ data.title|safe }} 
                                </h5>
                            </a>
                            
                            <p class="institution fw-bold m-0" style="font-size: 10px;">
                                <iconify-icon icon="mingcute:location-2-line"></iconify-icon>
                                {{ data.institution|safe }}
                            </p>
                            <p style="font-size: 10px;" class="p-0">
                                <iconify-icon icon="solar:user-bold-duotone"></iconify-icon> 
                                {{ data.author }}
                            </p>
                        </li>
                        {% endfor %}
                    </ul>
                    <div class="row">
                        <div class="my-2">
                            <a class="btn btn-primary-c">Previous</a>
                            <a class="btn btn-primary-c">Next</a>
                        </div>
                    </div>    

                    {% else %}
                    <div class="container">
                        <div class="row">
                            <div class="col col-md-12">
                                <p class="alert alert-info">No result found!!!</p>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endblock %}

{% block scripts %}{% endblock %}