{% extends 'base.html' %}

{% block HERO %}
{% endblock %}

{% block extrahead %}
<style></style>
{% endblock %}

{% block content %}
<div class="container" id="appContainer" style="margin-top: 100px;">
    <div class="row mb-3">
        <div class="col-10 mx-auto">
            <h4 class="text-dark fw-bold">About Us</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-10 mx-auto">
            <p class="text-dark text-justify">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, 
                dolores obcaecati ut totam necessitatibus deleniti hic illum quisquam deserunt adipisci distinctio veritatis eos blanditiis sed quia aut earum repellendus repudiandae.
            </p>
        </div>
    </div>
    
    <div class="row py-4">
        <div class="col-12 col-md-10 g-3 mx-auto">
            <div class="container">
                
            </div>
        </div>
    </div>
</div>

{% endblock %}