{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="google-site-verification" content="daPie6NisqEEdRi1JF7f116OTq1jXMeCpJ6Y5zpJaAM" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Naija Catalog: A Comprehensive Resource for Nigerian Universities</title>
  <meta name="keywords" content="Naija Catalog library congress information researchers online catalog">
  <meta name="description" content="Online Catalog - Information for Researchers in Nigeria">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta property="og:locale" content="en_US" />
  <meta property="og:site_name" content="Naija Catalog" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Naija Catalog" />
  <meta property="og:description" content="A Comprehensive Resource for Nigerian Universities" />
  <meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}{{request.path}}" />
  <meta property="og:image"
    content="{{ request.scheme }}://{{ request.get_host }}{% static 'images/naijacatalog.png' %}" />
  <meta property="og:image:secure_url"
    content="{{ request.scheme }}://{{ request.get_host }}{% static 'images/naijacatalog.png' %}" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta id="twitter:card" name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@NaijaCatalog">
  <meta id="twitter:title" name="twitter:title" content="Naija Catalog">
  <meta name="twitter:description" content="A Comprehensive Resource for Nigerian Universities">
  <meta id="twitter:image" name="twitter:image"
    content="{{ request.scheme }}://{{ request.get_host }}{% static 'images/naijacatalog.png' %}">

  <!-- Allow web app to be run in full-screen mode - iOS. -->
  <!-- Apple -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="green">
  <meta name="apple-mobile-web-app-title" content="Naija Catalog">

  <!-- Allow web app to be run in full-screen mode - iOS. -->
  <!-- Apple -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="green">
  <meta name="apple-mobile-web-app-title" content="Naija Catalog">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}">

  <!-- Bootstrap CSS v5.2.1 -->
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <!-- Icon Font Stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <link rel="stylesheet" href="{% static 'css/animate/animate.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
  <link rel="stylesheet" href="{% static 'manifest.json' %}">
  {% block extrahead %}{% endblock %}
</head>

<body>
  <div class="bg-light p-0">
    <header>
      <!-- NAV CONTAINER -->
      <nav nav class="navbar navbar-expand-lg navbar-dark shadow-lg fixed-top py-3">
        {% include "components/header.html" %}
      </nav>
      <!-- NAV END CONTAINER -->

      {% block HERO %}
      <!-- HERO CONTAINER -->
      <div class="hero-container">
        <div class="image-container">
          <span>
            <h4 class="animate__animated animate__bounce heading-text">NAIJA CATALOG</h4>
            <p class="tex">
              Top #1 Library Catalog in Nigeria, providing undergraduates and researchers access to top Nigerian
              Universities Library Collections.
              <img class="img-fluid d-none" src="{% static 'images/naijacatalog.png' %}" alt="Naija Catalog"
                srcset="{% static 'images/naijacatalog.png' %}">
            </p>
            {% if not request.user.is_authenticated %}
            <div class="mt-5">
              <a class="btn sign-in-btn" href="{% url 'signup' %}">
                Register <i class="fa fa-user"></i>
              </a>
              <a class="btn sign-in-btn" href="{% url 'signin' %}">
                Login
                <span class="float-right pl-2" style="padding-top: 5px;">
                  <img alt="login"
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAC5SURBVHgB7ZS9DcIwEIXf2QhaTxC5AsoIMQCZgBUYhQ1YgQ0YISswgkcILRI+nAKJCCwnvpT+Chf26b37kQ8oFKQQMqnWuzOBjvR8Nc7du1icQiZK+SuIDS91a21tYnHZFfTYbW2ZVQumLlaJyGCMidggZbL4Dqw2+wuYzUR9eB8yJbiQ7oFX+haums/bcMiMB6QwBgnO2CIdWoSfFs005P/iYoOUuMhgjHhP9k+GV6dwutSqKBTkvAFBK2wy62tKzwAAAABJRU5ErkJggg==">
                </span>
              </a>
            </div>
            {% endif %}
          </span>
        </div>
      </div>
      <!-- HERO END CONTAINER -->
      {% endblock  %}

      {% if messages %}
      {% include "components/message.html" %}
      {% endif %}
    </header>

    <main class="main">{% block content %}{% endblock %}</main>

    {% include "components/footer.html" %}
    <a href="#" class="btn btn-sm back-to-top" id="toUp"><i class="bi bi-arrow-up"></i></a>
  </div>

  <!-- Bootstrap JavaScript Libraries -->
  <script type="module" src="{% static 'js/service-worker.js' %}"></script>
  <script type="module" src="{% static 'js/custom.js' %}"></script>{% block scripts %}{% endblock %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
  <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</body>
</html>