{% extends 'base.html' %}

{% block HERO %}
{% endblock %}

{% block extrahead %}
<style>
    .blog-content{
        display: flex;
        flex-direction: column;
    }
    .blog-image{
        width: 350px;
        overflow: hidden;
        object-fit: contain;
        border-radius: 10px;
        margin: 10px;
        & img{
            width: 100%;
            height: auto;
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);
        }
    }
    .blog_title{
        font-size: 18px;
        font-weight: bold;
        color: #002b4f;
        margin: 0 0 5px;
        text-wrap: nowrap;
        word-break: break-all;
    }
</style>
{% endblock %}

{% block content %}
<div class="container" id="appContainer" style="margin-top: 100px;">
    <div class="row py-2">
        <div class="col-10 col-md-10 mx-auto">
            <div class="container">
                <div class="row my-5">
                    <div class="col-10 mx-auto">
                        <h4 class="text-dark fw-bold text-center">Naija Catalog Blog</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="blog_content">
                        <div class="blog-image">
                            <img class="img-fluid" src="https://library.arden.ac.uk/s3fs-public/styles/large/public/2021-10/daniel-zjV8ptYgcEo-unsplash.jpg" loading="lazy" alt="#Are Books Green?" srcset="https://library.arden.ac.uk/s3fs-public/styles/large/public/2021-10/daniel-zjV8ptYgcEo-unsplash.jpg">
                            <a class="h4 blog_title" href="https://library.arden.ac.uk/blogs/are-books-green" target="_blank">
                                Are Books Green?
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="blog-content">
                        <div class="blog-image">
                            <img class="img-fluid" src="https://library.arden.ac.uk/s3fs-public/styles/large/public/2023-10/daisy-2320519_1280.jpg" loading="lazy" alt="#Are Books Green?" srcset="https://library.arden.ac.uk/s3fs-public/styles/large/public/2023-10/daisy-2320519_1280.jpg">
                            <a class="blog_title" href="https://library.arden.ac.uk/blogs/books-and-gardening-metaphor-life" target="_blank">
                                Books and Gardening: A Metaphor for Life
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}