<footer>
    <div class="container">
      <div class="row">
        <div class="col col-md-7">
          <div class="container">
            <div class="header">Naija Catalog</div>
            <p class="footer-p">
              Top #1 Library Catalog in Nigeria, providing undergraduates and researchers access to top Nigerian
              Universities Library Collections.
            </p>
          </div>
        </div>

        <div class="col">
          <div class="row">
            <div class="col col-md-6">
              <div class="container">
                <div class="header">Important Links</div>
                <ul class="footer-nav-item">
                  <li><a class="nav-link" href="{% url 'homepage' %}">Homepage</a></li>
                  <li><a class="nav-link" href="{% url 'search' %}">General Search</a></li>
                  <li><a class="nav-link" href="#">Advanced Search</a></li>
                  <li><a class="nav-link" href="{% url 'partner_portal' %}">Partners</a></li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-md-6 d-none d-md-block">
              <div class="container">
                <div class="header">Sitemap</div>
                <ul class="footer-nav-item">
                    <li><a class="nav-link" href="{% url 'news' %}">News</a></li>
                    <li><a class="nav-link" href="{% url 'about_us' %}">About</a></li>
                  <li><a class="nav-link" href="#">Catalog</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- place footer here -->
    <div class="row py-2 bg-light w-100">
      <div class="col-12 mx-auto">
        <div class="text-center text-dark fw-bold">
          Copyright @ NaijaCatalog
        </div>
      </div>
    </div>
</footer>