{% extends "users/dashboard/base.html" %}
{% load static %}
{% block dash-styles %}
<style>
</style>
{% endblock  %}

{% block dashContent %}
<div class="container">
    <div class="row justify-content-between vh-100">
        <form class="d-block d-md-none" method="GET" action="{% url 'dashboard_search' %}">
            <input class="form-control me-sm-2" name="search" type="search" placeholder="Search for books, articles, manuals and authors in 84,921,855 files" value="{{query}}" autofocus required>
            <input type="submit" class="btn btn-primary" value="Search" hidden>
        </form>
    </div>
</div>

<!-- Optional: Place to the bottom of scripts -->
<script>
    const myModal = new bootstrap.Modal(document.getElementById('modalId'), options)
</script>

{% endblock  %}