{% extends "users/__base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.bootstrap5.min.css" />
<style>
    *::-webkit-scrollbar{
        display: none;
    }
    .errorlist{
        color:red;
    }
</style>
{% endblock  %}

{% block scripts %}
<script>
    $(document).ready( function () {
        $('#catalog').DataTable();
    } );
</script>
<script type="text/javascript" src="https://cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/2.1.8/js/dataTables.bootstrap5.min.js"></script>
{% endblock %}



{% block content %}
<div class="row">
    <div class="col-12 col-md-12 px-md-5 mx-auto">
        <div class="container-fluid">
            <div class="row">
                <div class="alert alert-info">{{request.user.institution}}'s Student</div>
                <h4>All Registered Student in {{ request.user.institution }}</h4>

                <div class="rounded-bottom g-4">
                    <div class="row">
                        <div class="col-12 col-md-2 my-auto">
                            <!-- Button trigger modal -->
                            <button type="button" class="text btn btn-success btn-block btn-md" data-bs-toggle="modal" data-bs-target="#addStudent">
                                Create Student Login
                            </button>
                        </div>

                        <div class="col-12 col-md-10 mt-2 mt-md-0">
                            <form method="GET">
                                <div class="input-group">
                                    <input type="text" name="student" {% if search_term %} value="{{search_term}}" {% else %} autofocus {% endif %} class="form-control border border-success" placeholder="Search for student..." aria-label="Search" aria-describedby="basic-addon2">
                                    <button class="btn btn-success" type="submit">Search</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-12 mt-2">
                            <div class="row">
                                <div class="col-12">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination justify-content-start">
                                            {% if catalog.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link text-success" href="?page={{ catalog.previous_page_number }}">Previous</a>
                                            </li>
                                            {% endif %}
                                            
                                            {% for i in catalog.paginator.page_range %}
                                            {% if i == catalog.number %}                                            
                                            <li class="page-item active">
                                                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                            </li>
                                            {% else %}                                            
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                            </li>
                                            {% endif %}                                            
                                            {% endfor %}
                                            {% if catalog.has_next %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ catalog.next_page_number }}">Next</a>
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Large Screen Display -->
                    <table id="catalog" class="table table-responsive table-striped table-bordered d-none d-lg-table" style="width:100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Email</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Matric No</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if students %}
                            {% for student in students %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ student.user.email }}</td>
                                <td>{{ student.profile.first_name }}</td>
                                <td>{{ student.profile.last_name }}</td>
                                <td>{{ student.profile.matric_no }}</td>
                                <td>
                                    <a href="#{{student.slug}}" class="text btn btn-danger btn-left btn-md">Edit</a>
                                    <a href="#{{student.slug}}" class="text btn btn-success btn-left btn-md">Delete</a>        
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="5">No student record found.</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>

                    <!-- Mobile Screen Display -->
                    {% if students %}
                    {% for student in students %}
                    <div class="row my-3 py-4 px-2 rounded shadow justify-content-center align-items-center d-flex d-md-none">
                        <h5>{{ student.profile.first_name }} {{ student.profile.last_name }}</h5>
                        <div class="col mt-2">
                            <a href="#" class="text btn btn-danger btn-left btn-md">Edit</a>
                            <a href="#" class="text btn btn-success btn-left btn-md">Delete</a>
                        </div>
                    </div>
                    {% endfor %}                    
                    <div class="footer">
                        <div class="d-flex flex-row h5 gap-4 justify-content-center">
                            <span>Total Students: {{ students.paginator.count }}</span>
                            <span>Student per Page: {{ students.paginator.per_page }}</span>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
  
<!-- Modal -->
<div class="modal fade" id="addStudent" tabindex="-1" aria-labelledby="addStudentLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addStudentLabel">
                    Create Student Login for {{ request.user.institution }}
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action=""> {% csrf_token %}
                    {{form}}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Save changes</button>
                    </div>            
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %} 
