{% extends 'users/registrations/base.html' %}
{% load static %}
{% block title %} Join Naija Catalog - Register - {% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'accounts/css/styles.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid py-3" id="app">
    <h1 class="text-center text-light text-muted">Now is the Time!</h1>
    <div class="logo-box" id="logo_container">
        <img class="img-fluid" draggable="false" src="{% static 'images/naijacatalog.png' %}" alt="naijacatalog" srcset="{% static 'images/naijacatalog.png' %}">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-10 col-md-4 mx-auto">
                <form class="shadow active" action="{% url 'institution_registration' %}" method="POST">{% csrf_token %}
                    {% if messages %}
                    {% include "components/message.html" %}
                    {% endif %}
                    <div id="helpId_sl" class="text-muted my-2 text-center">
                        Join us to provide quick, powerful and resourceful access your Institution's Library Catalog
                    </div>                    
                    <div class="form-floating mb-2 text-dark">
                        <input type="email" class="form-control rounded" name="email" id="signup_email" placeholder="" required {% if email %}value="{{email}}"{% endif %}>
                        <label for="email" style="font-size:12px;">Email Address</label>
                    </div>                        
                    <div class="form-floating mb-2 text-dark">
                        <input type="text" class="form-control rounded" name="institution" id="institution" placeholder="" required {% if institution %}value="{{institution}}"{% endif %}>
                        <label for="institution" style="font-size:12px;">Institution Name</label>
                    </div>
                    <div class="form-floating mb-2 text-dark">
                        <input type="password" class="form-control rounded" name="password" id="signup_password" {% if password %}value="{{password}}"{% endif %} placeholder="" required>
                        <label for="password" style="font-size:12px;">Password</label>
                    </div>

                    <div class="row my-auto">
                        <div class="form-group">
                            <div class="form-check">
                                <label class="form-check-label text-muted" style="font-size:12px;">
                                    I agree to all Terms & Conditions 
                                </label>
                                <input type="checkbox" class="form-check-input" required> 
                            </div>
                        </div>
                    </div>

                    <div class="form-group my-4 d-flex justify-content-between">
                        <input type="button" style="font-size:12px;" class="btn btn-sm btn-light" id="decrypt" value="Decrypt Password"> 
                        <button type="submit" class="btn btn-danger" style="font-size:12px;">Register Account</button>
                    </div>
                    
                    <p class="text-muted my-auto text-center" style="font-size:12px;">
                        <br>Already have an account
                        <a class="text-decoration-none text-success fw-bold" href="{% url 'signin' %}">login</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'accounts/js/scripts.js' %}"></script>
{% endblock %}