<!doctype html>
<html lang="en">
    <head>
        <title>Naija Catalog: A Comprehensive Resource for Nigerian Universities</title>
        <link rel="apple-touch-icon" sizes="180x180" href="../plugins/static/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../plugins/static/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../plugins/static/favicon/favicon-16x16.png">
        <link rel="manifest" href="../plugins/static/favicon/site.webmanifest">

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="../plugins/static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../plugins/static/css/styles.css">
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark shadow fixed-top py-3">
                <div class="container-fluid nav-section">
                    <div class="d-flex w-50">
                        <a class="navbar-brand fw-bold" href="#">NC</a>
                        <form class="d-flex my-lg-0" method="GET" action="index.html">
                            <input class="form-control me-sm-2" type="text" placeholder="Search Article">
                            <input type="submit" class="btn btn-primary" value="Search" hidden>
                        </form>
                    </div>
                    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="collapsibleNavId">
                        <ul class="navbar-nav mt-2 mt-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" href="#" aria-current="page">Home <span class="visually-hidden">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Universities</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" type="button" data-bs-toggle="modal" data-bs-target="#modalId" type="button">Create</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav mt-2 mt-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" type="button" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
                                <div class="dropdown-menu" aria-labelledby="dropdownId">
                                    <a class="dropdown-item text" href="#">Student Portal</a>
                                    <a class="dropdown-item text" href="#">University Portal</a>
                                </div>
                            </li>   
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="container position-fixed">
                <div class="row">
                    <div class="col d-flex justify-content-end">
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            <strong>Holy guacamole!</strong> Welcome
                        </div>    
                    </div>
                </div>
            </div>

            <div class="hero-container">
                <div class="image-container">
                    <span>
                        <h4>NAIJA CATALOG</h4>
                        <p>
                            Top #1 Library Catalog in Nigeria, providing undergraduates and researchers access to top Nigerian 
                            Universities Library Collections.
                        </p>
                    </span>
                </div>
            </div>
        </header>
    
        <main>

        </main>
        
        <footer>
            
            <!-- place footer here -->
        </footer>
        <!-- Bootstrap CSS v5.2.1 -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <!-- Optional: Place to the bottom of scripts -->
        <script type="module" src="../plugins/static/js/custom.js"></script>
    </body>
</html>