{% extends 'users/registrations/base.html' %}
{% load static %}

{% block title %} Login Into Naija Catalog {% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'accounts/css/styles.min.css' %}">
{% endblock %}


{% block content %}
        <div class="container-fluid" id="app">
            <h1 class="text-center text-light text-muted app-title"> Login  </h1>
            <div class="logo-box" id="logo_container">
                <img class="img-fluid" draggable="false" src="{% static 'images/naijacatalog.png' %}" alt="naijacatalog"
                    srcset="{% static 'images/naijacatalog.png' %}">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-10 col-md-4 mx-auto">
                        <form action="{% url 'signin' %}" method="POST">{% csrf_token %}
                            {% include "components/message.html" %}
                            <small id="helpId" class="text-muted">Enjoy flexible research algorithm built by an undergraduate
                                for undergraduates.</small>
                            <div class="form-floating my-3 text-dark">
                                <input type="email" class="form-control" name="email" id="signin_email" placeholder=""
                                    required {% if email %}value="{{email}}"{% endif %}>
                                <label for="signin_email">Email Address</label>
                            </div>
                            <div class="form-floating mb-3 text-dark">
                                <input type="password" class="form-control" name="password" id="signin_password"
                                    placeholder="" required {% if password %}value="{{password}}"{% endif %}>
                                <label for="signin_password">Password</label>
                            </div>
                            <div class="my-2 d-flex justify-content-between align-items-center">
                                <div class="form-check">
                                    <label class="form-check-label text-muted">
                                        <input type="checkbox" class="form-check-input" name="savelogin" {% if saveauth %}checked{% endif %}>
                                        Keep me signed in 
                                    </label>
                                </div>
                                <a href="#" class="auth-link text-light">Forgot password?</a>
                            </div>

                            <div class="form-group my-4">
                                <button type="submit" class="btn btn-success">Continue</button>
                            </div>
                            <div class="text-center mt-4 font-weight-light">
                                <p class="text-muted">Don't have an account, <a class="text-decoration-none text-warning fw-bold" href="{% url 'signup' %}">Create</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block scripts %}{% endblock %}
