{% extends 'users/base.html' %}
{% load static %}

{% block title %} Login Into Naija Catalog {% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'accounts/css/styles.min.css' %}">
{% endblock %}


{% block content %}
        <div class="container-fluid" id="app">
            <h1 class="text-center text-light text-muted app-title"> Login  </h1>
            <div class="logo-box" id="logo_container">
                <img class="img-fluid" draggable="false" src="{% static 'images/naijacatalog.png' %}" alt="naijacatalog"
                    srcset="{% static 'images/naijacatalog.png' %}">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-10 col-md-4 mx-auto">
                        <form action="{% url 'signin' %}" method="POST">{% csrf_token %}
                            {% include "components/message.html" %}
                            <small id="helpId" class="text-muted">Enjoy flexible research algorithm built by an undergraduate
                                for undergraduates.</small>
                            <div class="form-floating my-3 text-dark">
                                <input type="email" class="form-control" name="signin_email" id="signin_email" placeholder=""
                                    required>
                                <label for="signin_email">Email Address</label>
                            </div>
                            <div class="form-floating mb-3 text-dark">
                                <input type="password" class="form-control" name="signin_password" id="signin_password"
                                    placeholder="">
                                <label for="signin_password">Password</label>
                            </div>

                            <div class="form-check form-switch text-dark">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                <label class="form-check-label text-light" for="flexSwitchCheckDefault">Save</label>
                            </div>
                            
                            <div class="form-group my-4">
                                <button type="submit" class="btn btn-success">Continue</button>
                            </div>
                            <p class="text-muted">Don't have an account, <a class="text-decoration-none text-danger fw-bold" href="{% url 'signup' %}">Register</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block scripts %}{% endblock %}
