{% extends "users/__base.html" %}
{% load static %}

{% block styles %}
<style>
    *::-webkit-scrollbar{
        display: none;
    }
    .errorlist{
        color:red;
    }
</style>
{% endblock  %}


{% block content %}
<div class="row">
    <div class="col-12 col-md-10 px-md-5 mx-auto">
        <div class="container">
            <div class="row">
                <div class="rounded-top text-dark fw-bold">Reset Password</div>

                <div class="container rounded-bottom g-4">
                    <form class="form form" method="POST" action="">{% csrf_token %}
                        <div class="form-floating my-2">
                            <input class="form-control" type="email" name="email" maxlength="200" id="id_title" placeholder="" {% if email %}value="{{email}}"{% endif %} required>                           
                            <label for="id_title"><i class="bi bi-book"  style="font-size: 1em; color: #007bff;"></i>Email Address</label>
                            <small id="helpId" class="text-muted">Email Address</small>
                        </div>
                        <div class="form-group my-3">
                            <input class="btn btn-md btn-success" type="submit" value="Reset Password">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %} 

{% block scripts %}{% endblock %}
