{% extends "users/__base.html" %}
{% load static %}

{% block styles %}
<style>
    *::-webkit-scrollbar{
        display: none;
    }
    .errorlist{
        color:red;
    }
</style>
{% endblock  %}


{% block content %}
<div class="row">
    <div class="col-12 col-md-10 px-md-5 mx-auto">
        <div class="container">
            {% if form %}
            <div class="row">
                <div class="rounded-top text-dark fw-bold">Update Profile</div>
                <div class="container rounded-bottom g-4">
                    <form class="form form" method="POST">{% csrf_token %}
                        {% for field in form %}
                        <div class="form-floating my-2">
                            {{ field.errors }}
                            {{ field }}
                            <label>
                                <i class="bi bi-book"  style="font-size: 1em; color: #007bff;"></i> 
                                {{field.label}}
                            </label>
                        </div>
                        {% endfor %}
                        <div class="form-group mb-3">
                            <input class="btn btn-md btn-success" type="submit" value="Submit">
                            <small id="help-submit" class="text-muted">click to Save</small>
                        </div>
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %} 

{% block scripts %}{% endblock %}
