{% extends "users/__base.html" %}
{% load static %}

{% block styles %}
<style>
    *::-webkit-scrollbar{
        display: none;
    }
    .errorlist{
        color:red;
    }
</style>
{% endblock  %}


{% block content %}
<div class="row">
    <div class="col-12 col-md-10 px-md-5 mx-auto">
        <div class="container">
            {% if form %}
            <div class="row">
                <div class="rounded-top text-dark fw-bold">Update Profile</div>

                <div class="container rounded-bottom g-4">

                    <form class="form form" method="POST" action="">{% csrf_token %}
                        <div class="form-floating my-2">
                            <input class="form-control" type="text" name="first_name" maxlength="250" id="id_first_name" placeholder="" value="{{user.first_name}}" required>                           
                            <label for="id_title"><i class="bi bi-book"  style="font-size: 1em; color: #007bff;"></i> First Name:</label>
                            <small id="helpId" class="text-muted">First Name</small>
                        </div>

                        <div class="form-floating mb-3">
                          <input class="form-control" type="text" name="last_name" maxlength="200" id="id_last_name" placeholder="" value="{{user.last_name}}" required>                       
                          <label for="id_author"><i class="bi bi-book"  style="font-size: 1em; color: #007bff;"></i>Last Name</label>
                            <small id="Id_author_help" class="text-muted">Last Name</small>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" name="isbn" maxlength="200" id="id_isbn" placeholder="" value="">                            
                            <label for="id_isbn"><i class="bi bi-book"  style="font-size: 1em; color: #007bff;"></i> Phone Number</label>
                            <small id="help_Isbn" class="text-muted">Phone Number</small>
                        </div>

                        <div class="form-group mb-3">
                            <input class="btn btn-md btn-success" type="submit" value="Submit">
                            <small id="help-submit" class="text-muted">click to Save</small>
                        </div>
                    </form>
                </div>
            </div>

            {% endif %}
        </div>
    </div>
</div>

{% endblock %} 

{% block scripts %}{% endblock %}
